@model QuanLyNhanVien.Models.PhongBan
@{
    var nhanVienList = ViewBag.NhanVienList as SelectList;
}
@if (Request.QueryString["error"] == "true")
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Xóa Phòng ban @(Model.TenPhongBan)</h4>
    @if (Request.QueryString["error"] == "True")
    {
        <div class="alert alert-danger">Không thể xóa phòng ban, vui lòng cho nhân viên ra phòng ban khác!!!</div>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPhongBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhongBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTruongPhong)
        </dt>

    </dl>


    <table class="table">
        <tr>
            <th>
                Danh Sách Nhân Viên
            </th>
        </tr>

        @foreach (var item in nhanVienList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
            </tr>
        }
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.id" id="id" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
